// main: ../styles.less

.gallery {
    .gallery-filter {
        margin: auto;
        max-width: 820px;
        text-align: center;

        li {
            background: $primary-light;
            border-color: $white;
            @include box-shadow(none);
            box-sizing: border-box;
            float: left;
            width: calc(100% / 3);

            &.active,
            &:hover {
                background: $primary;
                color: $white;
            }
        }
    }

    .gal-item {
        @include border();
        display: none;
        height: 10em;
        margin: 10px;
        @include transition();
        width: 15em;

        &:hover {
            @include border(3px solid $primary);
            @include box-shadow();
            cursor: pointer;
        }

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    .gal-items {
        text-align: center;
    }

    @media screen and (max-width: $xs) {
        .gal-item {
            margin: 10px auto;
        }
    }

    @media screen and (max-width: 500px) {
        .gallery-filter {
            li {
                width: 100%;
            }
        }
    }
}
