@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.color-accent {
  color: #828186;
}

.color-accent-light {
  color: #b6b5b8;
}

.bg-color-accent {
  background-color: #828186;
}

.bg-color-accent-light {
  background-color: #b6b5b8;
}

.color-black {
  color: #000;
}

.color-black-light {
  color: #333333;
}

.bg-color-black {
  background-color: #000;
}

.bg-color-black-light {
  background-color: #333333;
}

.color-primary {
  color: #00713d;
}

.color-primary-light {
  color: #00d774;
}

.bg-color-primary {
  background-color: #00713d;
}

.bg-color-primary-light {
  background-color: #00d774;
}

.color-white {
  color: #fff;
}

.color-white-light {
  color: white;
}

.bg-color-white {
  background-color: #fff;
}

.bg-color-white-light {
  background-color: white;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.p-auto {
  padding: auto !important;
}

.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.pt-auto {
  padding-top: auto !important;
}

.pr-auto {
  padding-right: auto !important;
}

.pb-auto {
  padding-bottom: auto !important;
}

.pl-auto {
  padding-left: auto !important;
}

.m-0 {
  margin: 0;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.m-xs {
  margin: 0.5rem;
}

.mx-xs {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.my-xs {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.mt-xs {
  margin-top: 0.5rem !important;
}

.mr-xs {
  margin-right: 0.5rem !important;
}

.mb-xs {
  margin-bottom: 0.5rem !important;
}

.ml-xs {
  margin-left: 0.5rem !important;
}

.p-xs {
  padding: 0.5rem !important;
}

.px-xs {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.py-xs {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.pt-xs {
  padding-top: 0.5rem !important;
}

.pr-xs {
  padding-right: 0.5rem !important;
}

.pb-xs {
  padding-bottom: 0.5rem !important;
}

.pl-xs {
  padding-left: 0.5rem !important;
}

.m-s {
  margin: 1rem;
}

.mx-s {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.my-s {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.mt-s {
  margin-top: 1rem !important;
}

.mr-s {
  margin-right: 1rem !important;
}

.mb-s {
  margin-bottom: 1rem !important;
}

.ml-s {
  margin-left: 1rem !important;
}

.p-s {
  padding: 1rem !important;
}

.px-s {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.py-s {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.pt-s {
  padding-top: 1rem !important;
}

.pr-s {
  padding-right: 1rem !important;
}

.pb-s {
  padding-bottom: 1rem !important;
}

.pl-s {
  padding-left: 1rem !important;
}

.m-m {
  margin: 2rem;
}

.mx-m {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.my-m {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.mt-m {
  margin-top: 2rem !important;
}

.mr-m {
  margin-right: 2rem !important;
}

.mb-m {
  margin-bottom: 2rem !important;
}

.ml-m {
  margin-left: 2rem !important;
}

.p-m {
  padding: 2rem !important;
}

.px-m {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.py-m {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.pt-m {
  padding-top: 2rem !important;
}

.pr-m {
  padding-right: 2rem !important;
}

.pb-m {
  padding-bottom: 2rem !important;
}

.pl-m {
  padding-left: 2rem !important;
}

.m-l {
  margin: 3rem;
}

.mx-l {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.my-l {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.mt-l {
  margin-top: 3rem !important;
}

.mr-l {
  margin-right: 3rem !important;
}

.mb-l {
  margin-bottom: 3rem !important;
}

.ml-l {
  margin-left: 3rem !important;
}

.p-l {
  padding: 3rem !important;
}

.px-l {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.py-l {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-l {
  padding-top: 3rem !important;
}

.pr-l {
  padding-right: 3rem !important;
}

.pb-l {
  padding-bottom: 3rem !important;
}

.pl-l {
  padding-left: 3rem !important;
}

.m-xl {
  margin: 4rem;
}

.mx-xl {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.my-xl {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.mt-xl {
  margin-top: 4rem !important;
}

.mr-xl {
  margin-right: 4rem !important;
}

.mb-xl {
  margin-bottom: 4rem !important;
}

.ml-xl {
  margin-left: 4rem !important;
}

.p-xl {
  padding: 4rem !important;
}

.px-xl {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.py-xl {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.pt-xl {
  padding-top: 4rem !important;
}

.pr-xl {
  padding-right: 4rem !important;
}

.pb-xl {
  padding-bottom: 4rem !important;
}

.pl-xl {
  padding-left: 4rem !important;
}

.link,
.nav-item {
  position: relative;
}

.link:hover,
.link.active,
.nav-item:hover,
.nav-item.active {
  color: #00713d;
  cursor: pointer;
}

.link:hover:after,
.link.active:after,
.nav-item:hover:after,
.nav-item.active:after {
  left: 0;
  width: 100%;
}

.link:after,
.nav-item:after {
  background: #00713d;
  content: '';
  display: block;
  height: 2px;
  margin-top: 5px;
  position: absolute;
  right: 0;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
  width: 0;
}

.alert {
  background: aquamarine;
  border: 3px solid #828186;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.alert.alert-danger {
  background: #f99;
}

.alert.alert-success {
  background: #9f9;
}

.alert li {
  font-family: octin-college;
  margin: .25em 0;
}

.alert p {
  font-family: octin-college;
}

.form-group input[type=email],
.form-group input[type=text] {
  height: 40px;
}

.form-group input[type=email],
.form-group input[type=text],
.form-group textarea {
  border: 3px solid #828186;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding: 5px;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
  width: 100%;
}

.form-group input[type=email]:focus,
.form-group input[type=text]:focus,
.form-group textarea:focus {
  border: 3px solid #00713d;
  -webkit-box-shadow: 0 2px 15px 0 #828186;
          box-shadow: 0 2px 15px 0 #828186;
}

.form-group input[type=email]:hover,
.form-group input[type=text]:hover,
.form-group textarea:hover {
  border: 3px solid #80b89e;
  -webkit-box-shadow: 0 2px 15px 0 #828186;
          box-shadow: 0 2px 15px 0 #828186;
}

.form-group input[type=submit],
.form-group .btn {
  height: 40px;
  -webkit-appearance: none;
  width: 100%;
}

.form-group label {
  color: #555;
  display: block;
}

.form-group textarea {
  resize: vertical;
  -webkit-transition: ease-in-out border 0.3s, ease-in-out box-shadow 0.3s;
  transition: ease-in-out border 0.3s, ease-in-out box-shadow 0.3s;
}

.edit {
  color: #f22 !important;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

a:hover {
  color: #00713d;
  text-decoration: none;
}

a,
h1,
h2,
h3,
li,
p {
  color: #555;
}

body {
  margin: 0;
}

html {
  font-family: franklin-gothic-urw, Sans-Serif;
  font-size: 16px;
  letter-spacing: .5px;
}

h1 {
  font-size: 2.5rem;
}

h1,
h2 {
  font-family: octin-college;
}

h1,
h2,
h3,
li,
p {
  cursor: default;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

i {
  vertical-align: middle;
}

img {
  display: block;
  width: 100%;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

ul {
  list-style: none;
}

.btn {
  background: #00713d;
  border: 3px solid #00713d;
  color: #fff;
  cursor: pointer;
  font-family: octin-college;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

.btn:hover,
.btn.active {
  background: #fff;
  -webkit-box-shadow: 0 2px 15px 0 #828186;
          box-shadow: 0 2px 15px 0 #828186;
  color: #00713d;
}

.btn a {
  color: #fff;
}

.btn-group .btn {
  margin: 0 1em 1em;
  width: 15em;
}

@media screen and (max-width: 768px) {
  .btn-group .btn {
    margin: 0 auto;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.font-oc {
  font-family: octin-college;
}

.no-scroll {
  overflow: hidden;
}

.offset-bg {
  height: 85%;
  opacity: 0.5;
  position: absolute;
  width: 85%;
  z-index: -1;
}

.offset-bg-back {
  background-color: #00713d;
  left: 0;
  top: 0;
}

.offset-bg-front {
  background-color: #80b89e;
  bottom: 0;
  right: 0;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.block {
  padding: 0 8%;
}

.block:first-child .content {
  padding: 3.5em 0 1.75rem;
}

.block:last-child .content {
  padding: 1.75rem 0 4em;
}

.block.header h1 {
  color: #00713d;
  text-align: center;
}

.block-title {
  color: #00713d;
  text-align: center;
}

.block .content {
  margin: auto;
  max-width: 64rem;
  padding: 1.75rem 0;
  position: relative;
}

.block .content::after {
  content: "";
  clear: both;
  display: table;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: calc(100% / 3);
}

.col-4 {
  width: 25%;
}

.col-2,
.col-3,
.col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  position: relative;
}

.main {
  padding-top: 110px;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

.view {
  min-width: 18rem;
}

@media screen and (max-width: 768px) {
  .col-2,
  .col-3,
  .col-4 {
    width: 100%;
  }
}

footer {
  background: #00713d;
  padding: 0 8%;
}

footer a,
footer h2,
footer li,
footer p {
  color: #fff;
}

footer a:hover {
  color: #80b89e;
}

footer .content {
  margin: auto;
  max-width: 64rem;
  padding: 1.75rem 0;
  position: relative;
}

footer .footer-contact,
footer .footer-site-map {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

footer .footer-main {
  text-align: center;
}

footer .footer-site-map {
  padding: 0 2em 0 0;
}

footer .mws-credit {
  text-align: right;
}

footer .mws-credit .llc,
footer .mws-credit .who {
  color: #80b89e;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

footer .mws-credit .mws-link:hover .who {
  color: #ffd298;
}

footer .mws-credit .mws-link:hover .llc {
  color: #96e6ff;
}

footer .mws-credit .what {
  color: #efefef;
  display: block;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  footer .footer-contact .email {
    font-size: 14px;
  }

  footer .footer-contact,
  footer .footer-site-map {
    display: block;
    padding: 0 0 2em;
  }

  footer .footer-main {
    text-align: left;
  }
}

.modal-container {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  position: fixed;
  left: 0;
  opacity: 0;
  top: 0;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
  width: 100vw;
}

.modal-container.active {
  opacity: 1;
  z-index: 1100;
}

.modal-container.active .modal {
  opacity: 1;
}

.modal-container .modal {
  background: #fff;
  border: 3px solid #828186;
  margin: -1000px auto 0;
  position: relative;
  opacity: 0;
  overflow: hidden;
}

.modal-container .modal img {
  display: inline-block;
  height: inherit;
  position: absolute;
  top: 0;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

.modal-container .modal .body {
  background: #00713d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.modal-container .modal .close {
  color: #555;
  cursor: pointer;
  font-size: 2.75em;
  position: absolute;
  right: .5em;
  top: 0;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

.modal-container .modal .close:hover {
  color: #00713d;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal-container .modal .header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em;
  position: relative;
}

.modal-container .modal .next {
  right: 1%;
}

.modal-container .modal .next,
.modal-container .modal .prev {
  color: #fff;
  display: inline-block;
  font-size: 3em;
  top: 50%;
  position: absolute;
  z-index: 1;
}

.modal-container .modal .next:hover,
.modal-container .modal .prev:hover {
  color: #00713d;
}

.modal-container .modal .prev {
  left: 1%;
}

.modal-container .modal .title {
  color: #00713d;
  display: inline-block;
}

.navigation {
  background-color: #efefef;
  -webkit-box-shadow: 0 2px 15px 0 #828186;
          box-shadow: 0 2px 15px 0 #828186;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 18rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navigation .logo {
  margin-bottom: .5em;
  max-width: 9em;
  width: 100%;
}

.navigation .logo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.navigation .mobile-toggle {
  display: none;
}

.navigation .mobile-toggle:hover {
  cursor: pointer;
}

.navigation .mobile-toggle:hover .line {
  background: #00713d;
}

.navigation .mobile-toggle .line {
  background: #555;
  height: 3px;
  margin: 5px;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
  width: 2em;
}

.navigation .navigation-left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.navigation .navigation-left,
.navigation .navigation-right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation .navigation-links {
  display: inline-block;
  font-family: octin-college;
  vertical-align: middle;
}

.navigation .navigation-links .nav-item {
  display: inline-block;
  vertical-align: middle;
}

.navigation .navigation-links .nav-item.active a {
  color: #00713d;
}

.navigation .navigation-right {
  float: right;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .navigation .logo {
    margin-bottom: 0;
    margin-top: .1em;
    width: 5.25em;
  }

  .navigation .mobile-toggle {
    display: block;
  }

  .navigation .navigation-links {
    display: none;
  }

  .navigation .navigation-right-cont {
    display: none;
  }
}

.mobile-navigation {
  background: #efefef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  padding-top: 110px;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
  width: 0;
  z-index: 900;
}

.mobile-navigation.active {
  width: 310px;
}

.mobile-navigation .navigation-links .nav-item {
  margin-bottom: 1em;
}

.mobile-navigation .navigation-links .nav-item.active a {
  color: #00713d;
}

.contact .btn {
  font-family: octin-college;
}

.contact .form-group label {
  color: #fff;
  font-family: octin-college;
}

.contact .offset-bg {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .contact .col-2:first-child {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 420px) {
  .contact .email {
    font-size: 15px;
  }

  .contact .email i {
    font-size: 15px;
  }
}

.gallery .gallery-filter {
  margin: auto;
  max-width: 820px;
  text-align: center;
}

.gallery .gallery-filter li {
  background: #80b89e;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  width: calc(100% / 3);
}

.gallery .gallery-filter li.active,
.gallery .gallery-filter li:hover {
  background: #00713d;
  color: #fff;
}

.gallery .gal-item {
  border: 3px solid #828186;
  display: none;
  height: 10em;
  margin: 10px;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
  width: 15em;
}

.gallery .gal-item:hover {
  border: 3px solid #00713d;
  -webkit-box-shadow: 0 2px 15px 0 #828186;
          box-shadow: 0 2px 15px 0 #828186;
  cursor: pointer;
}

.gallery .gal-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.gallery .gal-items {
  text-align: center;
}

@media screen and (max-width: 576px) {
  .gallery .gal-item {
    margin: 10px auto;
  }
}

@media screen and (max-width: 500px) {
  .gallery .gallery-filter li {
    width: 100%;
  }
}

.home .contact .btn {
  width: 50%;
}

.home .contact .img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  height: auto;
  padding: 0 0 0 2em;
  vertical-align: middle;
  width: 50%;
}

.home .contact .img img {
  border: 3px solid #00713d;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.home .contact .text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 49%;
}

.home .services .btn {
  bottom: -.75em;
  position: absolute;
  right: 25%;
  width: 50%;
  z-index: 1;
}

.home .services-list {
  text-align: center;
}

.home .services-list .services-bg {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 100%;
}

.home .services-list .services-bg.additions {
  background: url(/images/kitchen-10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .services-list .services-bg.basement-remodeling {
  background: url(/images/kitchen-10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .services-list .services-bg.baths {
  background: url(/images/kitchen-10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .services-list .services-bg.decks {
  background: url(/images/kitchen-10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .services-list .services-bg.four-seasons-rooms {
  background: url(/images/kitchen-10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .services-list .services-bg.kitchens {
  background: url(/images/kitchen-10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .services-list .services-item {
  background: #fff;
  border: solid 3px #828186;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: octin-college;
  height: 10em;
  margin: 1em;
  position: relative;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
  vertical-align: middle;
  width: 16em;
}

.home .services-list .services-item:hover .services-item-title {
  width: 14em;
}

.home .services-list .services-item:hover .services-item-title p {
  padding-left: 2em;
}

.home .services-list .services-item-title {
  background-color: #00713d;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  left: 0;
  padding: 0.5em;
  position: absolute;
  top: 0;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
  width: 12em;
}

.home .services-list .services-item-title p {
  color: #fff;
  cursor: pointer;
  font-size: .83em;
  text-align: left;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

@media screen and (max-width: 768px) {
  .home .contact .img {
    padding: 2em 0 0;
    width: 100%;
  }

  .home .contact .text {
    width: 100%;
  }

  .home .services .btn {
    right: 15%;
    width: 70%;
  }
}

@media screen and (max-width: 420px) {
  .home .services-list .services-item {
    margin-left: auto;
    margin-right: auto;
    width: 14em;
  }

  .home .services-list .services-item:hover .services-item-title {
    width: 12em;
  }

  .home .services-list .services-item:hover .services-item-title p {
    padding-left: 1.5em;
  }

  .home .services-list .services-item-title {
    width: 10.5em;
  }
}

.services .service-list {
  margin: auto;
  width: 80%;
}

.services .service-item {
  background: #fff;
  border: 3px solid #828186;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 6.5em;
  overflow: hidden;
  position: relative;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

.services .service-item * {
  cursor: pointer;
}

.services .service-item:hover {
  border: 3px solid #00713d;
  -webkit-box-shadow: 0 2px 15px 0 #828186;
          box-shadow: 0 2px 15px 0 #828186;
  cursor: pointer;
}

.services .service-item.active {
  height: 8.5em;
}

.services .service-item.active i {
  color: #00713d;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.services .service-item.active .img {
  height: 8.5em;
  width: 50%;
}

.services .service-item.active .info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

.services .service-item-title {
  background-color: #00713d;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  font-family: octin-college;
  left: 0;
  padding: 0.5em;
  position: absolute;
  top: 0;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
  width: 50%;
  z-index: 1;
}

.services .service-item-title p {
  color: #fff;
  font-size: .83em;
  text-align: left;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

.services .service-item i {
  bottom: 0;
  color: #fff;
  font-size: 36px;
  left: 0;
  position: absolute;
  text-align: center;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
  width: 100%;
}

.services .service-item .img {
  display: inline-block;
  height: 6.5em;
  width: 100%;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
  vertical-align: middle;
}

.services .service-item .img img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.services .service-item .info {
  padding: .5em 0 .5em 1em;
  vertical-align: middle;
}

@media screen and (max-width: 880px) {
  .services .service-item.active {
    height: 16em;
  }

  .services .service-item.active .img {
    width: 100%;
  }
}

